<html>
<head>
    <title>Listar Pessoas</title>
</head>
<body>
    <h1>Listagem de Pessoas</h1>
    <a href="{% url 'pessoas_pessoa_create' %}">Ir para criação de pessoa</a>
    <ul>
        {% for pessoa in pessoas %}
            <li>{{ pessoa.id }} {{ pessoa.nome }} {{ pessoa.idade }} <a href="{% url 'pessoas_pessoa_delete' pessoa.id %}">Excluir</a></li>
        {% endfor %}
    </ul>
</body>
</html>